@model IEnumerable<MVCTemplate.Models.Permisos>

@{
    ViewBag.Title = "Permisos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class=" text-center" style="font-weight:500; font-family: 'Pattaya', sans-serif;">Permisos</h1>

<table id="DT" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Permiso)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Permiso)
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#DT').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        });
    });
</script>
