CREATE DATABASE [Café Aguilar]
USE [Café Aguilar]
GO
/****** Object:  Table [dbo].[DetallesOrden]    Script Date: 28/01/2021 06:24:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesOrden](
	[ID] [int] NOT NULL,
	[IDorden] [int] NULL,
	[IDcafépostres] [varchar](10) NULL,
	[Cantidad] [int] NULL,
	[Tipo] [varchar](10) NULL,
 CONSTRAINT [PK_DetallesOrden] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orden]    Script Date: 28/01/2021 06:24:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orden](
	[IDorden] [int] NOT NULL,
	[Fecha] [datetime] NULL,
	[total] [money] NULL,
 CONSTRAINT [PK_Orden] PRIMARY KEY CLUSTERED 
(
	[IDorden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Ordenes_View]    Script Date: 28/01/2021 06:24:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Ordenes_View] AS 
SELECT Orden.IDorden AS Orden , Fecha,
 Count(DetallesOrden.IDorden) AS [Cantidad Productos], total AS [Monto Total]
 FROM Orden INNER JOIN DetallesOrden ON Orden.IDorden = DetallesOrden.IDorden
 GROUP BY Orden.IDorden, Fecha, total;
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 28/01/2021 06:24:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[IDproducto] [int] NOT NULL,
	[Cantidad] [int] NULL,
	[Minimo] [int] NULL,
 CONSTRAINT [PK_Inventario] PRIMARY KEY CLUSTERED 
(
	[IDproducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 28/01/2021 06:24:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IDproducto] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Precio] [money] NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[IDproducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ProductoInventario_view]    Script Date: 28/01/2021 06:24:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ProductoInventario_view] AS
SELECT Productos.IDproducto, Nombre, Precio, Inventario.Cantidad, Inventario.Minimo
FROM Productos INNER JOIN Inventario ON Productos.IDproducto = Inventario.IDproducto
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 28/01/2021 06:24:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IDusuario] [int] NOT NULL,
	[Nombre] [varchar](20) NULL,
	[Contraseña] [varchar](50) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IDusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 28/01/2021 06:24:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[IDusuario] [int] NOT NULL,
	[P1] [varchar](1) NULL,
	[P2] [varchar](1) NULL,
	[P3] [varchar](1) NULL,
	[P4] [varchar](1) NULL,
	[P5] [varchar](1) NULL,
 CONSTRAINT [PK_Permisos] PRIMARY KEY CLUSTERED 
(
	[IDusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PowerDusuarios]    Script Date: 28/01/2021 06:24:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PowerDusuarios] AS
SELECT Usuarios.IDusuario, Nombre, Contraseña, Permisos.P1 ,Permisos.P2,Permisos.P3,Permisos.P4,Permisos.P5
FROM Usuarios INNER JOIN Permisos ON Usuarios.IDusuario = Permisos.IDusuario
GO
/****** Object:  Table [dbo].[Cafés]    Script Date: 28/01/2021 06:24:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cafés](
	[IDcafé] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Regular] [money] NULL,
	[Grande] [money] NULL,
	[Rocas] [money] NULL,
	[Frappe] [money] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_Cafés] PRIMARY KEY CLUSTERED 
(
	[IDcafé] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postres]    Script Date: 28/01/2021 06:24:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postres](
	[IDpostre] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Precio] [money] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_Postres] PRIMARY KEY CLUSTERED 
(
	[IDpostre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cafés] ([IDcafé], [Nombre], [Regular], [Grande], [Rocas], [Frappe], [FechaModificacion]) VALUES (N'1C', N'Expresso', 18.0000, 18.0000, 0.0000, 0.0000, CAST(N'2021-05-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Cafés] ([IDcafé], [Nombre], [Regular], [Grande], [Rocas], [Frappe], [FechaModificacion]) VALUES (N'2C', N'Americano', 20.0000, 25.0000, 0.0000, 0.0000, CAST(N'2021-05-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Cafés] ([IDcafé], [Nombre], [Regular], [Grande], [Rocas], [Frappe], [FechaModificacion]) VALUES (N'3C', N'Capuccino', 35.0000, 45.0000, 45.0000, 60.0000, CAST(N'2021-05-08T00:00:00.000' AS DateTime))
INSERT [dbo].[DetallesOrden] ([IDorden], [IDcafépostres], [Cantidad], [Tipo]) VALUES (0, N'2C', 1, N'Regular')
INSERT [dbo].[DetallesOrden] ([IDorden], [IDcafépostres], [Cantidad], [Tipo]) VALUES (1, N'2C', 1, N'Regular')
INSERT [dbo].[DetallesOrden] ([IDorden], [IDcafépostres], [Cantidad], [Tipo]) VALUES (2, N'2C', 1, N'Regular')
INSERT [dbo].[Inventario] ([IDproducto], [Cantidad], [Minimo]) VALUES (1, 89, 15)
INSERT [dbo].[Inventario] ([IDproducto], [Cantidad], [Minimo]) VALUES (2, 94, 15)
INSERT [dbo].[Inventario] ([IDproducto], [Cantidad], [Minimo]) VALUES (3, 98, 15)
INSERT [dbo].[Orden] ([IDorden], [Fecha], [total]) VALUES (0, CAST(N'2021-01-27T17:52:47.000' AS DateTime), 20.0000)
INSERT [dbo].[Orden] ([IDorden], [Fecha], [total]) VALUES (1, CAST(N'2021-01-27T17:53:19.000' AS DateTime), 20.0000)
INSERT [dbo].[Orden] ([IDorden], [Fecha], [total]) VALUES (2, CAST(N'2021-01-27T17:54:31.000' AS DateTime), 20.0000)
INSERT [dbo].[Permisos] ([IDusuario], [P1], [P2], [P3], [P4], [P5]) VALUES (1, N'S', N'S', N'S', N'S', N'S')
INSERT [dbo].[Permisos] ([IDusuario], [P1], [P2], [P3], [P4], [P5]) VALUES (2, N'S', N'S', N'S', N'S', N'N')
INSERT [dbo].[Permisos] ([IDusuario], [P1], [P2], [P3], [P4], [P5]) VALUES (3, N'S', N'S', N'S', N'N', N'N')
INSERT [dbo].[Postres] ([IDpostre], [Nombre], [Precio],[FechaModificacion]) VALUES (N'1P', N'Chessecake Brownie', 45.0000, CAST(N'2021-05-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Postres] ([IDpostre], [Nombre], [Precio],[FechaModificacion]) VALUES (N'2P', N'Affogato', 35.0000, CAST(N'2021-05-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Postres] ([IDpostre], [Nombre], [Precio],[FechaModificacion]) VALUES (N'3P', N'Rebanada de Pastel', 39.0000, CAST(N'2021-05-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Productos] ([IDproducto], [Nombre], [Precio]) VALUES (1, N'Vaso Chico', 6.0000)
INSERT [dbo].[Productos] ([IDproducto], [Nombre], [Precio]) VALUES (2, N'Vaso Grande', 12.0000)
INSERT [dbo].[Productos] ([IDproducto], [Nombre], [Precio]) VALUES (3, N'Vaso Frappe', 16.0000)
INSERT [dbo].[Usuarios] ([IDusuario], [Nombre], [Contraseña]) VALUES (1, N'SA', N'MgAwADIAMAA=')
INSERT [dbo].[Usuarios] ([IDusuario], [Nombre], [Contraseña]) VALUES (2, N'Antonio', N'QQBTAEQARgAxADIAMwB0AG8AbgBpAA==')
INSERT [dbo].[Usuarios] ([IDusuario], [Nombre], [Contraseña]) VALUES (3, N'Gerardo', N'QQBTAEQARgAxADIAMwBHAGUAcgBhAHIAZABvAA==')
