@model IEnumerable<MVCTemplate.Models.OrdenCompleta>

@{
    ViewBag.Title = "Detalles de orden";
}

<h1 class=" text-center" style="font-weight:500">Detalles</h1>

<p>
    @Html.ActionLink("Nueva orden", "Crear ordenes")
</p>
<h4 class="text-center">Ordenes</h4>
<table class="table" id="tableRes">
    <thead>
        <tr>
            <th>
                Orden
            </th>
            <th>
                Producto
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDorden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    $@(item.Cantidad * item.Precio)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>
                <span class="bold pull-right">Total: $<span id="lblTotal">0</span></span>
            </th>
        </tr>
    </tfoot>

</table>

<script>
    $(document).ready(function () {
        var table = $('#tableRes').DataTable({
            dom: 'Bfltp'
        });
        var arr = table.data().toArray();
        var total = 0;
        for (var i in arr) {
            var p = parseFloat(arr[i][3].toString().substring(1));
            total += p;
        }
        $('#lblTotal').text(total)
    });
</script>
